@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* font-family: "JetBrains Mono", monospace; */
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --primary: #061d19;
    /* --primary: #061d12; */
    /* --primary: #061d1c; */
    --secondary: #B8860B;
}

/* universal selector */
body::-webkit-scrollbar {
    display: none;
}

main {
    margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
    main {
        margin-left: 0;
    }
    
}


section {
    min-height: 100vh;
    /* background: var(--primary); */
}

#home {
    background: var(--primary);
}

:root {
    /* font-family: "JetBrains Mono", monospace; */
    font-size: 16px;
}

html {
    min-height: 100vh;
    margin: 0;
    overflow-x: auto;
}

body {
    min-height: 100vh;
    /* background: #001a34; */
    background: var(--primary);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
